GITHUB_APP_ID=""
GITHUB_APP_PRIVATE_KEY=""
GITHUB_OAUTH_CLIENT_ID=""
GITHUB_OAUTH_CLIENT_SECRET=""
GITHUB_APP_SLUG=""
GITHUB_WEBHOOK_SECRET=""
OAUTH_TOKEN_ENCRYPTION_KEY=""
PUBLIC_BASE_URL="http://localhost:8787"
